.head{
    width: 700px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 700px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 270px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 430px;
    height: 320px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    width: 430px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}